body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 15px;
  width: 350px;
  border-radius: 6px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  
}
.task div button {
  margin-left: 5px;
}
input {
  flex: 1;
  padding: 5px;
  border-radius: 8px;
  border: 0.5px solid gray;
}

button {
  padding: 10px 10px;
  cursor: pointer;
  background-color: blue;
  border-radius: 8px;
  border: none;
  color: #fff;
  gap: 20px;
}
.task div button:first-child {
  background-color: #28a745; 
}

.task div button:nth-child(2) {
  background-color: #007bff;
}

.task div button:last-child {
  background-color: #dc3545; 
}

.task div button:hover {
  opacity: 0.8;
}
.task {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 5px;
  margin-bottom: 5px;
  gap: 20px;
}

.task.done span {
  text-decoration: line-through;
  color: gray;
}
