body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 15px;
  width: 350px;
  border-radius: 6px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  padding: 5px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: blue;
  border-radius: 8px;
  border: none;
  color: #fff;
}

.task {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 5px;
  margin-bottom: 5px;
}

.task.done span {
  text-decoration: line-through;
  color: gray;
}
